<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.mybatis.mapper.UserMapper">
    <!--User getUserByUserName(String username);-->
    <select id="getUserByUserName" resultType="user">
        select *from mybatis where username = '${username}'
    </select>
    <!--User checkLogin(String username,String password);-->
    <select id="checkLogin" resultType="user">
        <!--select * from mybatis where username = #{param1} and password = #{param2}-->
        <!--以param1和param2为键，参数为值-->
        select * from mybatis where username = '${param1}' and password = '${param2}'
    </select>
    <!--User checkLoginByMap(Map<String,Object> map);-->
    <select id="checkLoginByMap" resultType="user">
        select * from mybatis where username = #{username} and password = #{password}
    </select>
    <!--void insertUser(User user);-->
    <insert id="insertUser">
        insert into mybatis values(null,#{username},#{password},#{age},#{gender},#{email})
    </insert>
    <!--User checkLoginByParam(@Param("username") String username, @Param("password") String password);
}-->
    <select id="checkLoginByParam" resultType="user">
        select* from mybatis where username = #{username} and password = #{password}
    </select>
</mapper>